{% extends ../base.html %}

{% block title %}webrtc_video - {% end %}

{% block main %}
<section>
  <video id="p2p:J_video" class="video-js vjs-default-skin" controls
   preload="auto" width="800" height="340" poster="http://duroscope.ru:6878/sintel.png"
   data-setup="{}">
   <source src="http://duroscope.ru:6878/{{ video }}" type='video/mp4'>
    video not supported
  </video

  <br><br>
  <table id=infoTable class=info border=0>
    <col width="75"><col width="75"><col width="75"><col width="75"><col width="75"><col width="75"><col width="75"><col width="75"><col width="75">
    <tr align=center>
        <th>Peers</th>
        <th colspan=2>Upload</th>
        <th colspan=2>Download</th>
        <th colspan=2>Up_http</th>
        <th colspan=2>Down_http</th>
    </tr>
    <tr align=center>
        <td>0</td>
        <td>0B/s</td>
        <td>0B</td>
        <td>0B/s</td>
        <td>0B</td>
        <td>0B/s</td>
        <td>0B</td>
        <td>0B/s</td>
        <td>0B</td>
    </tr>
  </table>

  <ul id=J_console> </ul>
</section>
{% end %}

{% block script %}
<script>
  videojs("p2p:J_video").ready(function(){
    var myPlayer = this;
    require(['room.app'], function(room) {
      window.client = room.client;
    });
  });
</script>
{% end %}
